# fixes:
# init    : type=1400 audit(0.0:10): avc: denied { read } for name="device" dev="sysfs" ino=24631 scontext=u:r:init:s0 tcontext=u:object_r:sysfs_leds:s0 tclass=lnk_file permissive=0
allow init sysfs_leds:lnk_file read;

# fixes - looks definitely as DNM
# init    : type=1400 audit(0.0:12): avc: denied { mounton } for path="/apex/com.android.media.swcodec/etc/ld.config.txt" dev="mmcblk0p13" ino=120 scontext=u:r:init:s0 tcontext=u:object_r:system_file:s0 tclass=file permissive=0
allow init system_file:file mounton;

# fixes
# init    : type=1400 audit(0.0:6): avc: denied { write } for name="alignment" dev="proc" ino=4026542258 scontext=u:r:init:s0 tcontext=u:object_r:proc:s0 tclass=file permissive=0
# init    : type=1400 audit(0.0:7): avc: denied { setattr } for name="last_kmsg" dev="proc" ino=4026542590 scontext=u:r:init:s0 tcontext=u:object_r:proc:s0 tclass=file permissive=0
allow init proc:file { write setattr };
