allow servicemanager hal_power_default:dir search;
allow servicemanager hal_power_default:file r_file_perms;
allow servicemanager hal_power_default:process getattr;
