get_prop(system_server, userspace_reboot_exported_prop);
get_prop(system_server, userspace_reboot_config_prop);
get_prop(system_server, exported_camera_prop);
